.footer__information {
   display: flex;
   align-items: baseline;
}

.footer__contacts:not(:last-child) {
   margin-right: 630px;
}

.footer {
   padding-top: 30px;
   padding-bottom: 30px;

   background-color: var(--color-bg-dark);
}

.footer__address {
   margin-bottom: 9px;

   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   line-height: 2;
   color: var(--color-text-contrast);
}

.footer .contacts__link {
   padding: 5px 0;
}

.footer__mail {
   display: inline-block;
   margin-bottom: 9px;
}

.footer__message {
   padding-bottom: 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.143;
   text-transform: uppercase;
   color: var(--color-text-contrast);
}
