.footer {
  @include typicalPadding(60px, 60px);

  background-color: var(--color-bg-dark);
}

.footer__container-small {
  @include tablet {
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    gap: 555px;
  }
}

.footer__contacts {
  margin-bottom: 60px;
  text-align: center;

  @include tablet {
    margin-bottom: 0;
    text-align: start;
  }
}

.footer__information {
  @include mobile {
    flex-wrap: wrap;
  }

  @include desktop {
    @include centeredFlex(flex, baseline, null);
  }
}

.footer__link:hover,
.footer__link:focus {
  color: var(--color-text-accent);

  &:focus-visible {
    outline: 2px solid var(--color-bg-accent);
    border-radius: 4px;
  }
}

.footer__item {
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    min-width: 350px;
  }
}

.footer__address {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;

  @include font(400, 18px, 1.5, null);
  color: var(--color-text-contrast);

  @include tablet {
    text-align: start;
  }

  @include desktop {
    width: 231px;
    margin-right: 70px;
    margin-bottom: 9px;
    text-align: start;
    min-width: 350px;
  }
}

.footer__link {
  @include font(null, 18px, 1.5, null);
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--timing-function);
}

.footer__mail {
  display: inline-block;
  margin-bottom: 10px;

  @include desktop {
    margin-bottom: 9px;
  }
}

.footer__soc {
  @include desktop {
    margin: 0 auto;
  }
}

.footer__soc-message {
  padding-bottom: 20px;
  text-align: center;

  @include font(700, 18px, 1.143, null);
  text-transform: uppercase;
  color: var(--color-text-contrast);

  @include desktop {
    text-align: start;
  }
}

.footer__soc-list {
  display: flex;
  justify-content: center;
}

.footer__soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__soc-item > .footer__soc-link {
  width: 100%;
  height: 100%;
  @include centeredFlex(flex, center, center);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-text-contrast);

  transition: background-color 250ms var(--timing-function);
}

.footer__soc-icon {
  color: var(--color-text-contrast);
}

.footer__soc-link:hover,
.footer__soc-link:focus {
  background-color: var(--color-bg-accent);
}

.footer__soc-link:hover .footer__soc-icon,
.footer__soc-link:focus .footer__soc-icon {
  fill: var(--color-text-contrast);
}

.footer__soc-link:focus-visible {
  outline: 2px solid var(--color-bg-accent);
  border-radius: 4px;
}
