.hero {
  position: relative;

  background: linear-gradient(to right, #74ebd5, #acb6e5);
  width: 1600px;
  margin: 0 auto;
}

.hero__title {
  position: absolute;
  top: 20%;
  left: 40%;
  max-width: 900px;
  z-index: 2;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-text-contrast);

  transform: translate(-50%, -50%);
}
