.hero {
  position: relative;

  background: linear-gradient(to bottom, #74ebd5, #acb6e5);
  height: 502px;
  margin: 0 auto;
  overflow: hidden;

  @include tablet {
    height: 416px;
    margin: 0 auto;
  }

  @include desktop {
    height: 500px;
  }
}

.hero__title {
  position: absolute;
  top: 20%;
  left: 40%;
  max-width: 900px;
  z-index: 2;

  @include font(900, 30px, 1.36, 0.06em);
  text-align: center;
  text-transform: uppercase;

  color: var(--color-text-contrast);

  transform: translate(-50%, -50%);

  @include tablet {
    @include font(900, 30px, 1.36, 0.06em);
  }

  @include desktop {
    @include font(900, 36px, 1.36, 0.06em);
  }
}
