.mob-menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 98vh;
  padding: 48px 40px;
  z-index: 2;

  background-color: var(--color-bg-main);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateY(100%);

  @media (min-width: 768px) {
    display: none;
  }
}

.mob-menu__icon {
  transition: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--color-bg-accent);
  }
}

.is-open {
  transform: translateY(0);

  &.mob-menu__icon {
    display: none;
  }

  &.mob-menu__icon-close {
    display: block;

    transition: fill 250ms var(--timing-function),
      transform 250ms var(--timing-function);
  }
}

.mob-menu__icon-close:hover,
.mob-menu__icon-close:focus {
  fill: var(--color-bg-accent);
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  @include font(null, 40px, 1.175, 0.02em);
  color: var(--color-text-primary);
}

.mob-nav__current {
  color: var(--color-text-accent);
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts__link-tel {
  @include font(null, 34px, 1.176, 0.02em);
  color: var(--color-text-accent);
}

.mob-contacts__link-mail {
  @include font(null, 24px, 1.167, 0.02em);
  color: var(--color-text-secondary);
}
