.portfolio {
  @include typicalPadding(40px, 60px);

  background-color: var(--color-bg-main);

  @include tablet {
    @include typicalPadding(40px, 70px);
  }
  @include desktop {
    @include typicalPadding(94px, 94px);
  }
}

.portfolio-title {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-text-accent);
}
