.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }

  cursor: pointer;

  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: var(--color-border);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-border);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: var(--color-border);
  border-radius: 5px;
}

.gallery__item:hover,
.gallery__item:focus {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12),
    1px 5px 4px rgba(0, 0, 0, 0.06), 2px 5px 6px rgba(0, 0, 0, 0.16);

  &:hover .gallery__overlay,
  &:focus .gallery__overlay {
    transform: translateY(0);
  }
}

.gallery__item:focus-visible {
  outline: 1px solid var(--color-focus);
  border-radius: 4px;
}

.gallery__link {
  width: 100%;
}

.gallery__product-thumb {
  position: relative;
  width: 100%;
  /*height: 294px;*/
  overflow: hidden;
}

.gallery__item img {
  border-radius: 5px;
}

.gallery__caption {
  max-width: 370px;

  padding: 20px 24px;
}

.gallery__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-primary);
}

.gallery__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  color: var(--color-text-secondary);
}

.gallery__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  padding: 24px 24px;
  border-radius: 4px;
  transform: translateY(101%);

  background: rgba(33, 150, 243, 0.8);
  @include font(400, 18px, 1.56, null);

  color: var(--color-text-contrast);

  transition: transform 250ms var(--timing-function);

  @include desktop {
    padding: 50px 24px;
  }
}

.gallery__transp-ident {
  color: transparent;
}

.gallery__link-color:hover {
  color: yellow;
  font-weight: 500;
}
