.lang {
  display: none;

  @include tablet {
    display: block;
    @include typicalPadding(5px, 5px);
  }
}

.lang__list,
.mob-lang__list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /*  margin-top: 30px; */

  @include tablet {
    justify-content: end;
    margin-top: 0;
    gap: 15px;
  }
}

.lang__item,
.mob-lang__item {
  width: 42px;
  height: 42px;
  padding: 3px;
}

.lang__link,
.mob-lang__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms var(--timing-function),
    transform 250ms var(--timing-function);

  &:focus-visible {
    outline: 2px solid var(--color-bg-accent);
    border-radius: 50%;
  }
}

/* .lang__current,
.mob-lang__current {
  color: var(--color-text-accent);
  border: 2px solid var(--color-text-accent);
  border-radius: 50%;
} */

.lang__img {
  &:hover {
    transform: scale(1.07);
  }
}
