.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  transform: translateX(-120%);
  background: var(--color-bg-main);

  animation: zoom-overlay 2s ease-out;
}

.preloader__text {
  color: var(--color-text-accent);
  text-align: center;
  font-family: "Titan One", arial;
  @include font(40px, 900, 1.5, 0.1em);
  padding-top: 30px;

  @include tablet {
    @include font(60px, 900, 1.2, null);
    padding-top: 40px;
  }

  @include desktop {
    @include font(100px, 900, 1.2, null);
    padding-top: 70px;
  }
}

.preloader__img {
  width: 300px;
  height: auto;

  @include desktop {
    width: 500px;
  }
}
