.social-mob__list {
  display: flex;
  margin-top: 64px;

  @extend %link;

  @include tablet {
    display: none;
  }
}

.social-mob__item + .social-mob__item {
  position: relative;
  margin-left: 20px;

  &::before {
    position: absolute;
    left: -10px;
    content: "";
    display: block;
    height: 100%;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.social-mob__link {
  @include font(null, 18px, 1.22, 0.02em);
  color: var(--color-bg-accent);
}
