body {
  font-family: var(--font-main);
  @include font(500, 16px, 1.2, 0.03em);
  /*font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;*/
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
