@mixin centeredFlex($flex, $ai, $jc) {
   display: $flex;
   align-items: $ai;
   justify-content: $jc;
}

@mixin font($fw, $fs, $lh, $ls) {
   font-weight: $fw;
   font-size: $fs;
   line-height: $lh;
   letter-spacing: $ls;
}

@mixin typicalPadding() {
   padding-top: var(--typical-padding-ident);
   padding-bottom: var(--typical-padding-ident);
}
