:root {
   --color-text-primary: #212121;
   --color-text-secondary: #757575;
   --color-text-title: #000000;
   --color-text-accent: #2196f3;
   --color-bg-accent: #2196f3;
   --color-bg-main: #ffffff;
   --color-text-contrast: #ffffff;
   --color-bg-dark: #2f303a;
   --color-bg-light: #f5f4fa;
   --typical-padding-ident: 94px;
   --color-icon: #afb1b8;
   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   --font-main: "Roboto", sans-serif;
   --color-focus: #188ce8;
   --color-border: #eeeeee;
}
